button {
  &.btn-primary {
    padding: 20px 0px;
    width: 100%;
    border-radius: 60px;
    border: none;
    background-color: #d12f26;
    color: white;
    cursor: pointer;
    margin-top: 32px;
    transition: all 0.2s ease;
    &:hover {
      background-color: #b5120d;
    }

    &[disabled] {
      background-color: var(--background-color-disabled);
      color: var(--on-background-color-disabled);

      &:hover {
        cursor: not-allowed;
        background-color: var(--background-color-disabled);
      }
    }
  }
}
