.user-feedback-component {
  width: 496px;
  padding: 32px;

  &__title {
    max-width: 265px;
    text-align: start;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    margin-top: 16px;
  }

  &__rating-container {
    width: 100%;
    margin-top: 32px;
  }

  &__rates-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  &__single-rate-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80px;
    height: 64px;
    border: 1px solid #3c3c3c;
    border-radius: 16px;
    &:hover {
      border: 1px solid #5f5f5f;
    }

    &[data-selected] {
      border: 1px solid #d12f26;
      background-color: rgba(#d12f26, 0.08);
    }
  }

  &__explanation-container {
    width: 100%;
    margin-top: 32px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &.disabled {
      display: none;
    }
  }
  &__explanation-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.01em;
  }

  &__explanation-input {
    width: 100%;
    height: 56px;
    margin-top: 16px;
    padding: 0 0 0 32px;
    border: 1px solid #3c3c3c;
    border-radius: 66px;
    background: none;
    outline: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;
    &:hover {
      border: 1px solid #5f5f5f;
    }
  }

  &__labels-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 16px;
  }
  &__single-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #8d8d8d;
  }

  @media (max-width: 500px) {
    width: calc(100vw - 32px);
    padding: 16px;

    &__icon-container {
      img {
        width: 40px;
      }
    }

    &__title {
      max-width: 200px;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: -0.02em;
      margin-top: 12px;
    }
    &__rating-container {
      margin-top: 24px;
    }
    &__single-rate-tile {
      width: 56px;
      height: 48px;
    }

    &__explanation-container {
      margin-top: 24px;
    }

    &__explanation-input {
      height: 48px;
    }

    &__explanation-label {
      font-size: 12px;
    }

    &__labels-container {
      margin-top: 12px;
    }
    &__single-label {
      font-size: 12px;

      line-height: 14px;
      letter-spacing: -0.01em;
    }
  }
}
