.user-feedback-modal {
  .swal2-html-container {
    margin: 0;
    overflow-x: hidden;
  }
  .swal2-popup {
    border-radius: 24px;
  }
  .swal2-close {
    --close-button-size: 15px;

    width: var(--close-button-size);
    height: var(--close-button-size);

    margin-top: 28px;
    margin-right: 28px;
  }
}
